body {
    background: #FF5733;
}

::selection {
    color: #fff;
    background: #FF5733;
}

footer .next_btn {
    color: #fff;
    background: #FF5733;
    border: 1px solid #FF5733;
}

footer .next_btn:hover {
    background: #FF5733;
}

.start_btn button,
.start_btn .show-leaderboard-btn,
.result_box .show-leaderboard-btn,
.quiz_box footer button,
.result_box .buttons button,
.leaderboard_box .buttons button,
.level_box .buttons button,
.welcome_box .buttons button {
    border: 1px solid #FF5733;
    color: #FF5733;
    background: #fff;
}

.start_btn button:hover,
.start_btn .show-leaderboard-btn:hover,
.result_box .show-leaderboard-btn:hover,
.quiz_box footer button:hover,
.result_box .buttons button:hover,
.leaderboard_box .buttons button:hover,
.level_box .buttons button:hover,
.welcome_box .buttons button:hover {
    background: #FF5733;
    color: #fff;
}

.welcome_box .info-title,
.level_box .info-title {
    color: #FF5733;
}

.level_box .buttons button:hover {
    background: #FF5733;
    color: #fff;
}

.info_box .info-list .info span {
    color: #FF5733;
}

.quiz_box header .time_line {
    background: #FF5733;
}

.quiz_box header .title {
    color: #FF5733;
}